@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "custom.css";

/* We use Tailwind CSS in this project: https://tailwindcss.com/
 *
 * Tailwind CSS strips all default design away from HTML elements
 * and you have full control over their appearance by adding
 * classes. See the Tailwind docs for a list of all the classes
 * available.
 *
 *      You should avoid writing custom CSS rules here!
 *
 * The rules in this file are only for content coming out of
 * Markdown files with no possibility to add classes intelligently.
 */

* {
    font-family: 'Poppins';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    color: #354850;
}

h1 {
    @apply text-5xl mb-4 font-bold leading-none;
}

h2 {
    @apply text-4xl leading-10 mt-8 mb-4 font-bold;
}

h3 {
    @apply text-2xl leading-9 font-bold;
}

.faq-post h3 {
    @apply mt-8;
}

h4 {
    @apply text-lg font-bold;
}

h5 {
    @apply text-xl font-bold;
}

ul {
    @apply list-disc list-outside my-4;
    margin-left: 1rem;
}

ol {
    @apply list-decimal list-outside my-4;
    margin-left: 1rem;
}

table {
    @apply table-auto my-4 border-collapse;
    width: 100%;
}

table a {
    text-decoration: underline;
    @apply text-blue-700;
}

th {
    @apply font-heading text-blue-700 text-lg;
}

.table-vertical td:first-child {
    @apply font-heading text-blue-700 text-lg;
}

.table-vertical th {
    text-align: left;
}

.table-vertical tr:first-child th,
.table-vertical tr:first-child td {
    @apply border-t-0;
}

.table-vertical tr:last-child th,
.table-vertical tr:last-child td {
    @apply border-b-0;
}

th,
td {
    @apply border border-gray-700 p-4;
}

table tr:first-child th {
    @apply border-t-0;
}

table tr td:first-child,
table tr th:first-child {
    @apply border-l-0;
}

table tr:last-child td {
    @apply border-b-0;
}

table tr td:last-child,
table tr th:last-child {
    @apply border-r-0;
}

p {
    @apply leading-6 mb-4;
    color: #6C6C6C;
}

strong {
    font-weight: bold;
}

li {
    @apply leading-6;
    color: #6C6C6C;
}

code {
    @apply bg-gray-400 text-red-700 p-1 text-sm;
}

pre {
    @apply w-full bg-gray-400 p-2 my-4;
}

/*
h2:after {
    content: "";
    width: 10%;
    @apply border-red-700 border-b-4 -ml-3 block;
}
*/

.modal {
    transition: opacity 0.25s ease;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

body.modal-active {
    overflow: hidden;
}

.opacity-95 {
    opacity: .96;
}

strong {
    font-weight: bold;
}

/* table responsive */

.table-responsive {
    overflow-x: auto;
}

/* sponsors */

#sponsoren img {
    max-height: 8rem;
    max-width: 10rem;
}

/*Dropdown User Menu */

.dropdown:hover .dropdown-menu {
    display: block;
    width: 220px;
}
