
name: Build Site

on: [pull_request]
  
jobs:
  build:
    name: Build
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '10.15.3'
    - run: ./scripts/decrypt_credentials.sh
      env:
        CREDENTIALS_PASSPHRASE: ${{ secrets.CREDENTIALS_PASSPHRASE }}
    - run: npm install
    - run: npm run build
    - name: Publish artifacts from out directory
      uses: actions/upload-artifact@v2
      with:
        name: out
        path: out
