name: Deploy Site to Server

on:
  push:
    branches:
      - master
  schedule:
    - cron: '0 4 * * *'

jobs:
  build:
    name: Build
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '10.15.3'
    - run: ./scripts/decrypt_credentials.sh
      env:
        CREDENTIALS_PASSPHRASE: ${{ secrets.CREDENTIALS_PASSPHRASE }}
    - run: npm install
    - run: npm run build
    - name: Publish artifacts from out directory
      uses: actions/upload-artifact@v2
      with:
        name: out
        path: out
  deploy:
    name: Deploy
    runs-on: ubuntu-18.04
    needs: [build]
    steps:
      - name: Download artifact
        uses: actions/download-artifact@master
        with:
          name: iwi-hka.de
          path: iwi-hka.de
      - name: Debug Files
        run: ls
      - name: Upload to FTP
        uses: wlixcc/SFTP-Deploy-Action@v1.0
        with:
          username: ${{ secrets.sftp_user }}
          server: ${{ secrets.sftp_server}}
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
          local_path: iwi-hka.de # Folder to deploy
          remote_path: ${{ secrets.sftp_remote_path }}
          args: '-o ConnectTimeout=5'
